<div [formGroup]="companyForm">
  <h5>Company</h5>

  <div>
    <label for="companyName">Company's name : </label>
    <input formControlName="name"
           id="companyName"
           name="companyName"
           type="text"/>
  </div>

  <div>
    <label for="companySiret">Company's Siret : </label>
    <input formControlName="siret"
           id="companySiret"
           name="companySiret"
           type="text"/>
  </div>

  <app-address-form formGroupName="address"></app-address-form>
</div>
