<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">FirstName : </label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName"/>
  </div>

  <div>
    <label for="lastName">LastName : </label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName"/>
  </div>


  <div formGroupName="company">
    <label for="companyName">Company's name : </label>
    <input type="text" id="companyName" name="companyName" formControlName="name"/>
  </div>

  <div formGroupName="company">
    <label for="companySiret">Siret : </label>
    <input type="text" id="companySiret" name="companySiret" formControlName="siret"/>
  </div>

  <div>
    <input type="submit" />
  </div>
</form>
