<button (click)="onResetForm()"
        type="button">Reset form
</button>
<button (click)="onRestore()"
        type="button">Restore form
</button>
<button (click)="onEmpty()"
        type="button">Empty form
</button>
<button (click)="onCancel()"
        type="button">Cancel form
</button>
<button (click)="onLoadUserProfile()"
        type="button">Load user profile
</button>
<a routerLink="/empty">Empty route</a>

<h1>User profile :</h1>

<form (ngSubmit)="onSubmit()"
      [formGroup]="userForm">
  <h2>Personal informations :</h2>
  <div>
    <label for="firstName">FirstName : </label>
    <input formControlName="firstName"
           id="firstName"
           name="firstName"
           type="text"/>
  </div>

  <div>
    <label for="lastname">LastName : </label>
    <input formControlName="lastname"
           id="lastname"
           name="lastname"
           type="text"/>
  </div>

  <h2>Address :</h2>
  <app-address-form formGroupName="personalAddress"></app-address-form>

  <h2>Skills :</h2>
  <ul>
    @for (control of skillForms.controls; track control; let i = $index) {
      <li formArrayName="skills">
        <input type="text"
               id="skills-{{ i }}"
               name="skills-{{ i }}"
               [formControlName]="i"/>
      </li>
    }
  </ul>

  <button (click)="onAddSkill()"
          type="button">Add Skill
  </button>

  <h2>Companies :</h2>
  @for (control of companyForms.controls; track control; let i = $index) {
    <ng-container formArrayName="companies">
      <app-company-form [formGroupName]="i"></app-company-form>
    </ng-container>
  }

  <button (click)="onAddCompany()"
          type="button">Add company
  </button>

  <input style="display: block"
         type="submit"/>
</form>

<form (submit)="onSubmitSignUp()"
      [formGroup]="signUpForm">
  <div>
    <label for="email">Email : </label>
    <input formControlName="email"
           id="email"
           name="email"
           type="text"/>
  </div>

  <div>
    <label for="password">Password : </label>
    <input formControlName="password"
           id="password"
           name="password"
           type="text"/>
  </div>

  <div>
    <label for="confirmPassword">Confirmation : </label>
    <input formControlName="confirmPassword"
           id="passwordConfirm"
           name="confirmPassword"
           type="text"/>
  </div>

  <input style="display: block"
         type="submit"/>
</form>
