<button type="button" (click)="onResetForm()">Reset form</button>
<button type="button" (click)="onRestore()">Restore form</button>
<button type="button" (click)="onEmpty()">Empty form</button>
<button type="button" (click)="onCancel()">Cancel form</button>
<button type="button" (click)="onLoadUserProfile()">Load user profile</button>

<h1>User profile :</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2>Personal informations :</h2>
  <div>
    <label for="firstName">FirstName : </label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName"/>
  </div>

  <div>
    <label for="lastname">LastName : </label>
    <input type="text" id="lastname" name="lastname" formControlName="lastname"/>
  </div>

  <h2>Address :</h2>
  <app-address-form formGroupName="personalAddress"></app-address-form>

  <h2>Skills :</h2>
  <ul>
    @for (control of skillForms.controls; track control; let i = $index) {
      <li formArrayName="skills">
        <input type="text"
               id="skills-{{ i }}"
               name="skills-{{ i }}"
               [formControlName]="i"/>
      </li>
    }
  </ul>

  <button type="button" (click)="onAddSkill()">Add Skill</button>

  <h2>Companies :</h2>
  @for (control of companyForms.controls; track control; let i = $index) {
    <ng-container formArrayName="companies">
      <app-company-form [formGroupName]="i"></app-company-form>
    </ng-container>
  }

  <button type="button" (click)="onAddCompany()">Add company</button>

  <input type="submit" style="display: block"/>
</form>

<form [formGroup]="signUpForm" (submit)="onSubmitSignUp()">
  <div>
    <label for="email">Email : </label>
    <input type="text" id="email" name="email" formControlName="email"/>
  </div>

  <div>
    <label for="password">Password : </label>
    <input type="text" id="password" name="password" formControlName="password"/>
  </div>

  <div>
    <label for="confirmPassword">Confirmation : </label>
    <input type="text" id="passwordConfirm" name="confirmPassword" formControlName="confirmPassword"/>
  </div>

  <input type="submit" style="display: block"/>
</form>
