<div [formGroup]="addressForm">
  <div>
    <label for="streetNumber">Street number : </label>
    <input type="number"
           id="streetNumber"
           name="streetNumber"
           formControlName="streetNumber"/>
  </div>

  <div>
    <label for="route">Route : </label>
    <input type="text"
           id="route"
           name="route"
           formControlName="route"/>
  </div>

  <div>
    <label for="zipCode">Zip code : </label>
    <input type="text"
           id="zipCode"
           name="zipCode"
           formControlName="zipCode"/>
  </div>

  <div>
    <label for="city">City : </label>
    <input type="text"
           id="city"
           name="city"
           formControlName="city"/>
  </div>
</div>
